name: CI/CD Backend

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

  pull_request:
    branches:
      - '*'

jobs:
  Build_Backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: build
        run: docker build -t flickit-bff ./


  Sonar:
    needs: Build_Backend
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  Backend_Push_Latest_Image:
    if: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/main') }}
    needs: Sonar
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: create image from repository
        run: docker build -t ghcr.io/flickit-platform/flickit-bff:"${GITHUB_SHA:0:7}" ./
      - name: login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: flickit-platform
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
      - name: push image to GitHub Container Registry
        run: docker push ghcr.io/flickit-platform/flickit-bff:"${GITHUB_SHA:0:7}"

  Backend_Deploy_Latest:
    needs: Backend_Push_Latest_Image
    runs-on: ubuntu-latest
  
    container:
      image: hamravesh/darkube-cli:v1.1
      options: --user root
  
    steps:
      - name: darkube-cli deploy
        run: |
          darkube deploy \
            --token ${{ secrets.DEPLOY_TOKEN_BACKEND_FLICKIT_STAGE_HAMRAVESH_C13 }} \
            --app-id ${{ secrets.APP_ID_BACKEND_FLICKIT_STAGE_HAMRAVESH_C13 }} \
            --image-tag "${GITHUB_SHA:0:7}" \
            --job-id "${GITHUB_RUN_ID}"

  Backend_Push_Image:
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') }}
    needs: Sonar
    runs-on: ubuntu-latest
    outputs:
      TAG: ${{ steps.TAG.outputs.tag }}
    steps:
      - uses: actions/checkout@v2
      - name: Set output
        id: TAG
        run: echo "tag=${GITHUB_REF#refs/*/}" >> $GITHUB_OUTPUT
      - name: Check output
        env:
          RELEASE_VERSION: ${{ steps.TAG.outputs.tag }}
        run: |
          echo $RELEASE_VERSION
          echo ${{ steps.TAG.outputs.tag }}
      - name: login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: flickit-platform
          password: ${{ secrets.GH_PACKAGES_TOKEN }}
      - uses: actions/checkout@v2
      - name: create image from repository
        run: docker build -t ghcr.io/flickit-platform/flickit-bff:${{ steps.TAG.outputs.tag }} ./
      - name: push image to GitHub Container Registry
        run: docker push ghcr.io/flickit-platform/flickit-bff:${{ steps.TAG.outputs.tag }}

  Backend_Deploy:
    needs: Backend_Push_Image
    runs-on: ubuntu-latest
  
    container:
      image: hamravesh/darkube-cli:v1.1
      options: --user root
  
    steps:
      - name: darkube-cli deploy
        run: |
          darkube deploy \
            --token ${{ secrets.DEPLOY_TOKEN_BACKEND_FLICKIT_HAMRAVESH_C13 }} \
            --app-id ${{ secrets.APP_ID_BACKEND_FLICKIT_HAMRAVESH_C13 }} \
            --image-tag "${TAG}" \
            --job-id "${GITHUB_RUN_ID}"
        env:
          TAG: ${{ needs.Backend_Push_Image.outputs.TAG }}


